# CityBikes - API Request and DataFrame Creation

### Send a request to CityBikes for the API data from London, England.

In [2]:
import requests
import json

# Define the endpoint URL for the London bike share network
endpoint = "http://api.citybik.es/v2/networks/santander-cycles"

# Send an HTTP GET request to the endpoint URL
response = requests.get(endpoint)

# Get the JSON content from the response
json_content = response.json()

# Print out the entire JSON response to see catergory names (Commented out to save space).
# print(json.dumps(json_content, indent=4))

### Import API info and parse through the response to get the latitude, longitude, and number of bikes from each station in London, England.

In [3]:
# Define the endpoint URL for the London Citybikes - Santander Cycles network
endpoint = "http://api.citybik.es/v2/networks/santander-cycles"

# Define the query parameters to include only the latitude and longitude fields
params = {
    "fields": "location.latitude,location.longitude, stations.free_bikes"
}

# Send an HTTP GET request to the endpoint URL with the query parameters
response = requests.get(endpoint, params=params)

# Get the JSON content from the response
json_content = response.json()

# Extract the bike station information from the JSON content
stations = json_content["network"]["stations"]

# To print out station information under headers to review (commented out to reduce space)
# print("Station Name, Latitude, Longitude, Number of Bikes")
# for station in stations:
#     name = station["name"]
#     latitude = station["latitude"]
#     longitude = station["longitude"]
#     bikes = station["free_bikes"]
#     print(f"{name}, {latitude}, {longitude}, {bikes}")

#### Convert parsed results into a DataFrame.

In [4]:
import pandas as pd
london_bikes_df = pd.DataFrame(stations, columns=['name', 'latitude', 'longitude', 'free_bikes'])
london_bikes_df.head(5)

,name,latitude,longitude,free_bikes
0,"001023 - River Street , Clerkenwell",51.529163,-0.109971,2
1,"001018 - Phillimore Gardens, Kensington",51.499607,-0.197574,19
2,"001012 - Christopher Street, Liverpool Street",51.521284,-0.084606,21
3,"001024 - Park Street, Bankside",51.505974,-0.092754,18
4,"001022 - Brunswick Square, Bloomsbury",51.523951,-0.122502,24

In [5]:
#  # export current DataFrame to Csv file to be able to review data further and feed into YELP/FOURSQUARE API.
london_bikes_df.to_csv('London_CityBikes_Data.csv', index=False)