## Join the data from Part 1 with the data from Part 2 to create a new dataframe.

#### Import libraries

In [2]:
import pandas as pd
import sqlite3
import os
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from tabulate import tabulate
from colorama import Fore, Style

#### Step 1: Import CSV files from CityBikes, Yelp, and FourSquare

In [3]:
# load CityBikes dataframe
city_bikes_df = pd.read_csv('/Users/brittanyharding/LHL-Projects/Statistical-Modelling-with-Python/data/CSV_files/London_CityBikes_Data.csv')

# load Yelp parks dataframe
yelp_parks_df = pd.read_csv('/Users/brittanyharding/LHL-Projects/Statistical-Modelling-with-Python/data/CSV_files/yelp_parks_df.csv')

# load Yelp restaurants dataframe
yelp_restaurants_df = pd.read_csv('/Users/brittanyharding/LHL-Projects/Statistical-Modelling-with-Python/data/CSV_files/yelp_restaurants_df.csv')

# load Foursquare parks dataframe
foursquare_parks_df = pd.read_csv('/Users/brittanyharding/LHL-Projects/Statistical-Modelling-with-Python/data/CSV_files/foursquare_parks_df.csv')

# load FourSquare restaurants dataframe
foursquare_restaurants_df = pd.read_csv('/Users/brittanyharding/LHL-Projects/Statistical-Modelling-with-Python/data/CSV_files/foursquare_restaurants_df.csv')

### Step 2: Merge DataFrames Together

In [4]:
#rename CityBikes 'name' column to 'location' to be able to perform merge
city_bikes_df = city_bikes_df.rename(columns={'name': 'location'})

#rename FourSquare Parks 'name' column to 'location' to be able to perform merge
foursquare_parks_df = foursquare_parks_df.rename(columns={'location_name': 'location'})

#rename FourSquare Restaurants 'name' column to 'location' to be able to perform merge
foursquare_restaurants_df = foursquare_restaurants_df.rename(columns={'location_name': 'location'})

In [5]:
# merge Yelp DataFrames based on the location column
merged_yelp_df = pd.concat([yelp_parks_df, yelp_restaurants_df], axis=0)

# merge FourSquare DataFrames based on the location column
merged_foursquare_df = pd.concat([foursquare_parks_df, foursquare_restaurants_df], axis=0)

# merge Foursquare and CityBikes DataFrames based on the location column (left-join)
merged_yelp_citybikes = pd.merge(merged_yelp_df, city_bikes_df, on='location', how='left')

# merge Foursquare and CityBikes DataFrames based on the location column (left-join)
merged_foursquare_citybikes = pd.merge(merged_foursquare_df, city_bikes_df, on='location', how='left')

In [73]:
merged_yelp_df.head(10)

,id,name,location,categories,rating,price
0,usPTn56M8VFiMtSg7tvNmg,Leicester Square Gardens,"001163 - Wardour Street, Soho","[{'alias': 'landmarks', 'title': 'Landmarks & ...",3.5,NaN
1,2Xy8iOMrAj1arQO6YNfplg,Leicester Square,"001163 - Wardour Street, Soho","[{'alias': 'landmarks', 'title': 'Landmarks & ...",4.0,NaN
2,em6CvtejoGYOEvah9rcnxA,Allen Gardens,"200003 - Cheshire Street, Bethnal Green","[{'alias': 'parks', 'title': 'Parks'}]",5.0,NaN
3,2CdRklaSNid3HcYn8d1NIQ,Weavers Fields,"200003 - Cheshire Street, Bethnal Green","[{'alias': 'parks', 'title': 'Parks'}]",4.0,NaN
4,-aZ6-Z5tG84sz9nWlNsesQ,Myddelton Square Park,"001104 - Claremont Square, Angel","[{'alias': 'parks', 'title': 'Parks'}]",3.0,NaN
5,ReHbOe5Vxz2oih5Sb7jn8w,St George's Gardens,"001019 - Ampton Street , Clerkenwell","[{'alias': 'parks', 'title': 'Parks'}]",5.0,NaN
6,yIRgZeXBu-FlfCgdMY3oew,Argyle Square,"001019 - Ampton Street , Clerkenwell","[{'alias': 'parks', 'title': 'Parks'}]",3.0,NaN
7,oUUQ7XnBk9cT_dV9hVPrcQ,Soho Square,"001052 - Soho Square , Soho","[{'alias': 'parks', 'title': 'Parks'}]",3.5,NaN
8,ahNeCIUXy8-d1zApTRC7vQ,St Martin's Gardens,"200026 - Greenland Road, Camden Town","[{'alias': 'parks', 'title': 'Parks'}]",5.0,NaN
9,yIRgZeXBu-FlfCgdMY3oew,Argyle Square,"001013 - St. Chad's Street, King's Cross","[{'alias': 'parks', 'title': 'Parks'}]",3.0,NaN

In [6]:
# #Removing id and fsq_id, as they do not add to the data
merged_yelp_citybikes = merged_yelp_citybikes.drop('id', axis=1)
merged_foursquare_citybikes = merged_foursquare_citybikes.drop('fsq_id', axis=1)

#Adding Type descriptive labels to differentiate the data when combined (as categories and poi type does not provide uniform type names)
yelp_parks_df['Type'] = 'Park'
yelp_restaurants_df['Type'] = 'Restaurant'
foursquare_restaurants_df['Type'] = 'Restaurant'
foursquare_parks_df['Type'] = 'Park'

In [11]:
# merged_yelp_citybikes.to_csv('merged_yelp_citybikes.csv', index=False)

# # export foursquare/citybikes DataFrame to Csv file
# merged_foursquare_citybikes.to_csv('merged_foursquare_citybikes.csv', index=False)

# load merged_yelp_citybikes dataframe
yelp_citybikes = pd.read_csv('/Users/brittanyharding/LHL-Projects/Statistical-Modelling-with-Python/data/CSV_files/merged_yelp_citybikes.csv')

# load foursquare/citybikes DataFrame parks dataframe
foursquare_citybikes = pd.read_csv('/Users/brittanyharding/LHL-Projects/Statistical-Modelling-with-Python/data/CSV_files/merged_foursquare_citybikes.csv')

## Provide a visualization that you used as part of your EDA process. Explain the initial pattern or relationship you discoved through this visualization.

### EDA Stats for Yelp CityBikes Data

In [71]:
# print first 5 rows of the data to check completeness
yelp_citybikes.head()

,name,location,categories,rating,price,Type,latitude,longitude,free_bikes
0,Leicester Square Gardens,"001163 - Wardour Street, Soho","[{'alias': 'landmarks', 'title': 'Landmarks & ...",3.5,NaN,Park,51.512515,-0.133202,16
1,Leicester Square,"001163 - Wardour Street, Soho","[{'alias': 'landmarks', 'title': 'Landmarks & ...",4.0,NaN,Park,51.512515,-0.133202,16
2,Allen Gardens,"200003 - Cheshire Street, Bethnal Green","[{'alias': 'parks', 'title': 'Parks'}]",5.0,NaN,Park,51.523880,-0.065076,18
3,Weavers Fields,"200003 - Cheshire Street, Bethnal Green","[{'alias': 'parks', 'title': 'Parks'}]",4.0,NaN,Park,51.523880,-0.065076,18
4,Myddelton Square Park,"001104 - Claremont Square, Angel","[{'alias': 'parks', 'title': 'Parks'}]",3.0,NaN,Park,51.531667,-0.109915,11
5,St George's Gardens,"001019 - Ampton Street , Clerkenwell","[{'alias': 'parks', 'title': 'Parks'}]",5.0,NaN,Park,51.527281,-0.118295,6
6,Argyle Square,"001019 - Ampton Street , Clerkenwell","[{'alias': 'parks', 'title': 'Parks'}]",3.0,NaN,Park,51.527281,-0.118295,6
7,Soho Square,"001052 - Soho Square , Soho","[{'alias': 'parks', 'title': 'Parks'}]",3.5,NaN,Park,51.515631,-0.132329,54
8,St Martin's Gardens,"200026 - Greenland Road, Camden Town","[{'alias': 'parks', 'title': 'Parks'}]",5.0,NaN,Park,51.539099,-0.141728,35
9,Argyle Square,"001013 - St. Chad's Street, King's Cross","[{'alias': 'parks', 'title': 'Parks'}]",3.0,NaN,Park,51.530059,-0.120974,13
10,Sky Garden,"001080 - Great Tower Street, Monument","[{'alias': 'landmarks', 'title': 'Landmarks & ...",4.5,NaN,Park,51.510485,-0.082990,8
11,Goldington Crescent Gardens,"003428 - Pancras Road, King's Cross","[{'alias': 'parks', 'title': 'Parks'}]",4.0,NaN,Park,51.534123,-0.129387,11
12,Polygon Road Open Space,"003428 - Pancras Road, King's Cross","[{'alias': 'parks', 'title': 'Parks'}]",2.0,NaN,Park,51.534123,-0.129387,11
13,Purchese Street Open Space,"003428 - Pancras Road, King's Cross","[{'alias': 'parks', 'title': 'Parks'}]",3.0,NaN,Park,51.534123,-0.129387,11
14,Aske Gardens,"001054 - East Road, Hoxton","[{'alias': 'tennis', 'title': 'Tennis'}, {'ali...",5.0,NaN,Park,51.528673,-0.087459,13
15,Paddington Street Gardens,"001033 - Paddington Street, Marylebone","[{'alias': 'parks', 'title': 'Parks'}]",4.0,NaN,Park,51.520584,-0.154701,12
16,Mount Street Gardens,"002678 - Farm Street, Mayfair","[{'alias': 'parks', 'title': 'Parks'}]",4.5,NaN,Park,51.509352,-0.147450,4
17,Berkeley Square,"002678 - Farm Street, Mayfair","[{'alias': 'parks', 'title': 'Parks'}]",4.0,NaN,Park,51.509352,-0.147450,4
18,Grosvenor Square,"010627 - Grosvenor Square, Mayfair","[{'alias': 'parks', 'title': 'Parks'}]",5.0,NaN,Park,51.512170,-0.150481,9
19,Brown Hart Gardens,"010627 - Grosvenor Square, Mayfair","[{'alias': 'landmarks', 'title': 'Landmarks & ...",4.0,NaN,Park,51.512170,-0.150481,9
20,September 11 Memorial Garden,"010627 - Grosvenor Square, Mayfair","[{'alias': 'landmarks', 'title': 'Landmarks & ...",4.5,NaN,Park,51.512170,-0.150481,9
21,St. John's Gardens,"200048 - Page Street, Westminster","[{'alias': 'parks', 'title': 'Parks'}]",4.5,NaN,Park,51.493978,-0.127554,21
22,Big Ben,"300249 - Westminster Pier, Westminster","[{'alias': 'landmarks', 'title': 'Landmarks & ...",4.5,NaN,Park,51.501513,-0.123823,19
23,Westminster Abbey,"300249 - Westminster Pier, Westminster","[{'alias': 'churches', 'title': 'Churches'}, {...",4.5,NaN,Park,51.501513,-0.123823,19
24,Houses of Parliament,"300249 - Westminster Pier, Westminster","[{'alias': 'landmarks', 'title': 'Landmarks & ...",4.5,NaN,Park,51.501513,-0.123823,19
25,barons court,"300249 - Westminster Pier, Westminster","[{'alias': 'parks', 'title': 'Parks'}]",3.0,NaN,Park,51.501513,-0.123823,19
26,Finsbury Avenue Square,"000984 - Finsbury Circus, Liverpool Street","[{'alias': 'parks', 'title': 'Parks'}]",3.5,NaN,Park,51.517075,-0.086686,3
27,Finsbury Circus Garden,"000984 - Finsbury Circus, Liverpool Street","[{'alias': 'parks', 'title': 'Parks'}]",4.0,NaN,Park,51.517075,-0.086686,3
28,Gordon Square,"001079 - Endsleigh Gardens, Euston","[{'alias': 'parks', 'title': 'Parks'}, {'alias...",3.5,NaN,Park,51.526838,-0.130504,17
29,St Luke's Gardens,"003486 - St. Luke's Church, Chelsea","[{'alias': 'parks', 'title': 'Parks'}]",4.0,NaN,Park,51.489717,-0.170194,17
30,South Bank,"001186 - Belvedere Road 1, South Bank","[{'alias': 'landmarks', 'title': 'Landmarks & ...",4.5,NaN,Park,51.506133,-0.114686,20
31,Fortune Street Park,"001026 - Roscoe Street, St. Luke's","[{'alias': 'parks', 'title': 'Parks'}, {'alias...",4.0,NaN,Park,51.522954,-0.094935,9
32,St George's Gardens,"003439 - Tavistock Place, Bloomsbury","[{'alias': 'parks', 'title': 'Parks'}]",5.0,NaN,Park,51.526250,-0.123510,12
33,Corams Fields,"003439 - Tavistock Place, Bloomsbury","[{'alias': 'playgrounds', 'title': 'Playground...",4.5,NaN,Park,51.526250,-0.123510,12
34,Leathermarket Gardens,"200193 - Snowsfields, London Bridge","[{'alias': 'parks', 'title': 'Parks'}]",5.0,NaN,Park,51.502154,-0.083633,31

In [67]:
# Print Data Info to check for nulls and object types
print(tabulate(yelp_citybikes.info(), headers='keys', tablefmt='fancy_grid', showindex=False))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3572 entries, 0 to 3571
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        3572 non-null   object
 1   location    3572 non-null   object
 2   categories  3572 non-null   object
 3   rating      3572 non-null   float64
 4   price       2300 non-null   object
 5   Type        3572 non-null   object
 6   latitude    3572 non-null   float64
 7   longitude   3572 non-null   float64
 8   free_bikes  3572 non-null   int64
dtypes: float64(3), int64(1), object(5)
memory usage: 251.3+ KB

In [58]:
#
#

# Assuming that your DataFrame is called `df`
yelp_descrip = yelp_citybikes.describe()

# Rename the columns to be more descriptive
yelp_descrip = yelp_descrip.rename(columns={
    'count': 'Number of observations',
    'mean': 'Mean value',
    'std': 'Standard deviation',
    'min': 'Minimum value',
    '25%': '25th percentile',
    '50%': 'Median value',
    '75%': '75th percentile',
    'max': 'Maximum value'
})

# Add color to latitude and longitude columns
for col in ['latitude', 'longitude']:
    yelp_descrip[col] = yelp_descrip[col].apply(lambda x: f'{Fore.RED}{x}{Style.RESET_ALL}')

print(tabulate(yelp_descrip, headers='keys', tablefmt='psql'))

+-------+-------------+--------------+--------------+--------------+
|       |      rating |     latitude |    longitude |   free_bikes |
|-------+-------------+--------------+--------------+--------------|
| count | 3572        | 3572         | 3572         |   3572       |
| mean  |    3.80949  |   51.5074    |   -0.136093  |     14.0342  |
| std   |    0.984991 |    0.0185617 |    0.0491151 |      9.52804 |
| min   |    0        |   51.4568    |   -0.229117  |      0       |
| 25%   |    3.5      |   51.4956    |   -0.174411  |      6       |
| 50%   |    4        |   51.5081    |   -0.137044  |     12       |
| 75%   |    4.5      |   51.5216    |   -0.106824  |     20       |
| max   |    5        |   51.5468    |   -0.00699   |     63       |
+-------+-------------+--------------+--------------+--------------+

### EDA Stats for Foursquare CityBikes Data

In [48]:
# print first 5 rows of the data to check completeness
foursquare_citybikes.head(5)

,location,name,poi_type,Type,latitude,longitude,free_bikes
5554,"200236 - Greenberry Street, St.John's Wood",Charlbert Bridge,['Bridge'],Restaurant,51.532560,-0.168620,4
5817,"200233 - South Quay East, Canary Wharf",Harbour Quay Gardens,['Park'],Restaurant,51.501960,-0.016251,13
50,"001065 - Aldersgate Street, Barbican",Postman's Park,['Park'],Park,51.520842,-0.097340,3
1821,"200082 - St. Mary & St. Michael Church, Stepney",Tower Hamlets College - Arbour Square,['Park'],Park,51.514170,-0.052099,13
5384,"200193 - Snowsfields, London Bridge",Vinegar Yard,['Street Food Gathering'],Restaurant,51.502154,-0.083633,31

In [24]:
# print basic info about the data
print(foursquare_citybikes.info(10))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5938 entries, 0 to 5937
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    5938 non-null   object
 1   name        5938 non-null   object
 2   poi_type    5938 non-null   object
 3   Type        5938 non-null   object
 4   latitude    5938 non-null   float64
 5   longitude   5938 non-null   float64
 6   free_bikes  5938 non-null   int64
dtypes: float64(2), int64(1), object(4)
memory usage: 324.9+ KB
None

In [17]:
# print statistical summary of the data
print(foursquare_citybikes.describe())

       rating  price     latitude    longitude   free_bikes
count     0.0    0.0  5938.000000  5938.000000  5938.000000
mean      NaN    NaN    51.506871    -0.130733    13.509768
std       NaN    NaN     0.019537     0.053287     9.218018
min       NaN    NaN    51.454753    -0.229117     0.000000
25%       NaN    NaN    51.493985    -0.173797     6.000000
50%       NaN    NaN    51.508622    -0.132140    12.000000
75%       NaN    NaN    51.521564    -0.094475    19.000000
max       NaN    NaN    51.549369    -0.006990    63.000000

In [18]:
#At this time I made the decision to drop the FourSquare rating and price columns, as API retrieval had brought back no data, despite following Foursquare specific API rules.
# #Removing id and fsq_id, as they do not add to the data
foursquare_citybikes = foursquare_citybikes.drop('price', axis=1)
foursquare_citybikes = foursquare_citybikes.drop('rating', axis=1)

In [19]:
# Count to see how many parks and restaurants
count = foursquare_citybikes['poi_type'].str.count('Park').sum()
print('Number of Parks:', count)

count = foursquare_citybikes['poi_type'].str.count('Restaurant').sum()
print('Number of Restaurants:', count)

Number of Parks: 2150
Number of Restaurants: 2777

###### At this stage, I decided to focus on data retireved on CityBikes locations from Yelp, as Foursquare data was not complete and accurate enough to complete a thorough analysis.

# Database

Put all your results in an SQLite3 database (remember, SQLite stores its databases as files in your local machine - make sure to create your database in your project's data/ directory!)

Look at the data before and after the join to validate your data.